.container-fluid {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 15px;
}

.col {
  background-color: #292626b4;
  font-size: 50px;
  padding: 40px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

